---
import { loadViajeData } from '../lib/dataLoader.js';
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hola Mundo</title>
  </head>
  <body>
    <h1>Hola mundo</h1>

    <script>
      import { loadViajeData } from '../lib/dataLoader.js';

      loadViajeData();
    </script>
  </body>
</html>