---
// Este componente se ejecuta en el servidor para el HTML inicial
// pero la lógica de carga se ejecuta en el cliente
---

<div id="node-list-container">
  <p id="node-list">Cargando...</p>
</div>

<script>
  import '../scripts/nodeList.js';
</script>